<h1>Hello World</h1>
<h2>Hello <%= nama %></h2>
<p>Welcome to my site..</p>

<h2>Daftar Mahasiswa</h2>
<% if (mahasiswa.length <1) { %>
<p>Data Mahasiswa masih kosong</p>
<% } else { %>
<% mahasiswa.forEach(m => { %>
<ul>
  <li>Nama : <%= m.nama %></li>
  <li>Email : <%= m.email %></li>
</ul>
<% }) %>
<% }%>